---
title: MKPDimensions
permalink: /
description: Welcome to MKPDimensions.
---
{% extends 'base.html' %}
{% block body %}
<header class="[ cluster gx2 gy0 itemscenter jfybetween rowreverse ] [ p0 ]">
  <div class="cluster g-3 itemsend jfyend">
    <h1 class="logo">MkpDimensions</h1>
    <p class="fs-2 ">By <em>Lara Martín Hernández</em></p>
  </div>
  <p class="fs-1"><a href="mailto:mkp.dimensions@gmail.com">mkp.dimensions@gmail.com</a></p>
</header>
<main class="cover stack g5 py5 bg-n900">
  <section class="flow1">
    <h2 class="px-2">Characters</h2>
    <div class="reelauto g-3 pb-3" style="block-size: 67vh">
      <img src="/assets/img/doll.jpeg" alt="">
      <img src="/assets/img/twisty3.jpeg" alt="">
      <img src="/assets/img/twisty1.jpeg" alt="">
      <img src="/assets/img/twisty2.jpeg" alt="">
    </div>
  </section>

  <section class="flow1">
    <h2 class="px-2">Eyes</h2>
    <div class="reelauto g-3 pb-3" style="block-size: 67vh">
      <img src="/assets/img/eyeliner_rainbow.jpeg" alt="">
      <img src="/assets/img/eyeliner_bronze.jpeg" alt="">
      <img src="/assets/img/eyeliner_black.jpeg" alt="">
      <img src="/assets/img/eyeliner_clouds2.jpeg" alt="">
      <img src="/assets/img/eyeliner_clouds1.jpeg" alt="">
      <img src="/assets/img/eyeliner_orange1.jpeg" alt="">
      <img src="/assets/img/eyeliner_orange2.jpeg" alt="">
      <img src="/assets/img/eyeliner_neongreen1.jpeg" alt="">
      <img src="/assets/img/eyeliner_neongreen2.jpeg" alt="">
      <img src="/assets/img/eyeliner_red.jpeg" alt="">
      <img src="/assets/img/eyeliner_subtle2.jpeg" alt="">
      <img src="/assets/img/eyeliner_subtle1.jpeg" alt="">
    </div>
  </section>

  <section class="flow1">
    <h2 class="px-2">Face</h2>
    <div class="reelauto g-3 pb-3" style="block-size: 67vh;">
      <img src="/assets/img/skull2.jpeg" alt="">
      <img src="/assets/img/skull3.jpeg" alt="">
      <img src="/assets/img/fairy.jpeg" alt="">
      <img src="/assets/img/viking3.jpeg" alt="">
    </div>
  </section>
</main>
{% endblock %}